<!DOCTYPE html>
<html lang="en">
  <head>
    <title> COMBOS </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm barraprincipal">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/">Logo</a>
      
      <!-- Links -->
      <ul class="navbar-nav navbar-brand menulinks">
        <li class="nav-item">
          <a class="nav-link linknav" href="menu.html">MENU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linknav" href="combos.html">COMBOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linknav" href="login.html">MI CUENTA</a>
        </li>
      </ul>
    </nav>

    <h1 class="catalogo">COMBOS</h1>

    <div class="card galprod displaycards" style="width: 18rem;">
      <img class="card-img-top" src="https://pbs.twimg.com/media/Bs7t6WDCUAAalLY.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sandwich + Bebida 350 ml</h5>
        <p class="card-text">Sándwich con tu bebida preferida de 350 ml.</p>
        <h3 class="preciocarta">$52</h3>
        <br>
        <a href="#" class="btn btn-primary">VER MÁS</a>
        <a href="#" class="btn btn-success"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>

    <div class="card galprod displaycards" style="width: 18rem;">
        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/1a/56/ba/picada-de-la-vecindad.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sandwich + Bebida 350 ml</h5>
          <p class="card-text">Sándwich con tu bebida preferida de 350 ml.</p>
          <h3 class="preciocarta">$52</h3>
          <br>
          <a href="#" class="btn btn-primary">VER MÁS</a>
          <a href="#" class="btn btn-success"><i class="fas fa-cart-plus"></i></a>
        </div>
      </div>

<!-- Footer -->
<footer class="page-footer font-small futer pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Cafeteria Tecmilenio</h5>
          <p>Hecho por estudiantes del tecmilenio.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">PARA TI </h5>

            <ul class="list-unstyled">
              <li>
                <a class="linknav" href="/menu.html">MENU</a>
              </li>
              <li>
                <a class="linknav" href="/combos.html">COMBOS</a>
              </li>
              <li>
                <a class="linknav" href="/snacks.html">SNACKS</a>
              </li>
              <li>
                <a class="linknav" href="/micuenta.html">MI CUENTA</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">CONOCENOS</h5>

            <ul class="list-unstyled">
              <li>
                <a class="linknav" href="#!">¿QUIENES SOMOS?</a>
              </li>
              <li>
                <a class="linknav" href="#!">AVISO DE PRIVACIDAD</a>
              </li>
              <li>
                <a class="linknav" href="#!">TERMINOS Y CONDICIONES</a>
              </li>
              <li>
                <a class="linknav" href="#!">CONTACTO</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 creditos">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"></a>
    </div>
    <!-- Copyright -->

  </footer>


  </body>
</html>
