body {
  
  font-family: 'Baloo Chettan', cursive;
}


.barraprincipal{
  width:100%;
  background-color:#0D47A1
  ;
  height:80px;
  color:white;
}
.barradropdown{
  background-color:#01579B;
  height:80px;
  color:white;
}
.menulinks{
  margin-left:742px;
  color:white;
}
.linknav{
  color:white;
}
.slide img{
  height:400px;
}
.catalogo{
  text-align:center;
  margin-top:20px;
}
.galprod{
  margin-left:50px;
}
.tamaño-img {
  padding-top: 20px;
  width: 200px;
  height: 350px;
  object-fit: cover;
  /*object-fit: scale-down; (este elemento se utilizará ya tomadas las imágenes a utilizar*/
}
.posicion-btn{
  margin-left: 10px;
}
.preciocarta{
  color:red;
  font-weight:bold;
}
.submenu1{
  background-color:#03C762;
  height:100px;
  width:20%;
  border-radius:20px;
  margin-left:228px;
  display:inline-block;
}
.submenu2{
  background-color:#FF9800;
  height:100px;
  width:20%;
  border-radius:20px;
  margin-left:50px;
  display:inline-block;
}
.submenu3{
  background-color:#47B8F1;
  height:100px;
  width:20%;
  border-radius:20px;
  margin-left:50px;
  display:inline-block;
}
.submenutexto{
  color:white;
  text-align:center;
  margin-top:30px;
}
.submenu{
  display:inline;
  margin-top:-20px;
  
}
.futer{
  background-color:#0288D1;
  color:white;
}
.creditos{
  background-color:#304FFE;
}
.logotecmi{
  
  height:130px;
  margin-top:8px;
}
.displaycards{
  display:inline-block;
}
.btnmenu1{
    width: 130px;
    height: 100px;
    transform: skew(340deg);
    background:#1E88E5;
    font-family: 'Oswald', sans-serif;
}
.btnmenu1 h2{
  text-align: center;
  margin-top:20px;
  font-family: 'Baloo Chettan', cursive;
}
.btnmenu2{
  width: 170px;
  height: 100px;
  transform: skew(340deg);
  background:#1976D2;
}
.btnmenu2 h2{
  text-align: center;
  margin-top:20px;
  margin-left:-5px;
  font-family: 'Baloo Chettan', cursive;
}
.btnmenu3{
  
  
  width: 150px;
  height: 100px;
  transform: skew(340deg);
  background:#1565C0
  ;


}
.btndudas{
  
  width: 100px;
  height: 100px;
  background: #388E3C;
  margin-left:-25px;
}
.btndudas h2{
  margin-bottom:20px;
  text-align:center;
  position:absolute;
  left:1538px;
  top:10px;
  font-size:50px;
}